{% extends 'base.html' %}

{% block content %}
  {% load static %}
  <h2>Comic List</h2>

  <div>
    <h3>DC</h3>
    <a href="{% url 'dc_list' %}">
      <img src="{% static 'images/dc_image.jpg' %}" alt="DC Image">
    </a>
  </div>

  <div>
    <h3>Marvel</h3>
    <a href="{% url 'marvel_list' %}">
      <img src="{% static 'images/marvel_image.jpg' %}" alt="Marvel Image">
    </a>
  </div>

  <div>
    <h3>Anime</h3>
    <a href="{% url 'anime_list' %}">
      <img src="{% static 'images/anime_image.jpg' %}" alt="Anime Image">
    </a>
  </div>

  <div>
    <h3>Live Action</h3>
    <a href="{% url 'liveaction_list' %}">
      <img src="{% static 'images/live_action_image.jpg' %}" alt="Live Action Image">
    </a>
  </div>

{% endblock %}

